{% extends "plugins/admin/templates/partials/base.html" %}

{% block admin_navigation_top_secondary %}
    {% if is_current_path('admin.themes.index') or
    is_current_path('admin.templates.index') or
    is_current_path('admin.templates.edit') or
    is_current_path('admin.templates.rename') or
    is_current_path('admin.templates.add') %}
        /
        <a href="{{ path_for('admin.templates.index') }}?theme={{ theme }}">
            <span class="pr-1 pl-1">{{ theme }}</span></a>
        {% if id %}
            /
            <span class="pr-1 pl-1">{{ id }}</span>
        {% endif %}
    {% endif %}

    {% if is_current_path('admin.themes.information') or
    is_current_path('admin.themes.settings') %}
        {% if id %}
            /
            <span class="pr-1 pl-1">{{ id }}</span>
        {% endif %}
    {% endif %}
{% endblock %}
